<h2>Are you sure you want to delete this property?</h2>

<%= button_to "Yes, delete this property", @property, method: "delete", class: "button" %>

<%= button_to "No, go back", edit_property_path(@property), method: "get", class: "button" %>