<center>
<h2>Your Properties</h2>

<%= link_to "New Property", new_property_path, class: "button small" %>

<% if !@properties.empty? %>
  <br><br><br>
  <% @properties.each do |prop| %>
    <%= link_to prop.title, prop, class: "button" %>
    <br>
  <% end %>
<% end %>
</center>