<h2>Your Properties</h2>

<% if @properties.present? %>
  <% @properties.each do |prop| %>
    <%= link_to prop.title, prop, class: "button" %>
  <% end %>
<% else %>
  No properties have been added.
<% end %><br><br>

<h2></h2>
Add a property?<br>
<%= link_to "New Property", new_property_path, class: "button small" %>