<h2>Select Survey Date for <%= @tree.name %></h2>

<% if @surveys.any? { |survey| !@tree.surveys.include?(survey) } %>
  <% @surveys.each do |survey| %>
    <% if !@tree.surveys.include?(survey) %>
      <%= link_to humanize_date(survey.date), new_tree_inspection_path(@tree, survey: survey), class: "button" %>
    <% end %>
  <% end %>
  <br><br>
<% else %>
  There are no surveys on which this tree has not been inspected.<br><br>
<% end %>

<h2></h2>
<%= link_to "New Survey", new_property_survey_path(@tree.property), class: "button small" %>