<center>
<h2><%= @property.title %> &mdash; Surveys</h2>

<% if @surveys.present? %>
  <% @surveys.each do |survey| %>
    <%= link_to humanize_date(survey.date), survey, class: "button" %>
  <% end %>
<% else %>
  There are no surveys for this property.
<% end %><br><br>

<h2></h2>

Want to start a survey?<br>
<%= link_to "New Survey", new_property_survey_path(@property), class: "button small" %>
</center>