<h2>New Survey</h2>

<%= render partial: "form_errors" %>

<%= form_with model: @survey, url: property_surveys_path(@survey.property) do |f| %>
  <%= render partial: "form", locals: { f: f } %>
<% end %>